.home {
    text-align: center;
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slogan {
	color: #FFF;
	font-weight: bold;
}

.about {
    padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
    text-justify: inter-word;
}

.introwork {
	word-break: break-all;
	position: relative;
	text-align: center;
	background: url(../images/bg2.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	   -moz-background-size: cover;
  	     -o-background-size: cover;
  		    background-size: cover;
}

.introworktitle {
    font-weight: bold;
    color: #FFF;
    
}

.work {
    padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
    text-justify: inter-word;
}

.cuadro {
	border: 1px solid #888;
	padding: 15px;
}

.titlework {
	margin-bottom: 70px;
}

@media screen and (max-width: 750px) {
	header {
		display: none;
	}
}

@media screen and (min-width: 750px) {
    header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    z-index: 50;
}

.shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;

}

.logo {
    text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: .2rem;
	line-height: 6.5rem;
	color: #FFF;
}


nav {
		float: right;
		text-align: right;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 600;
		letter-spacing: .2rem;
		line-height: 6.5rem;
		color: #FFF;
	}

	nav a {
		text-align: right;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 600;
		letter-spacing: .2rem;
		line-height: 6.5rem;
		color: #FFF;
	}

	nav a:link {
		margin-left: 20px;
		text-decoration: none;
		color: #FFF;
    	-webkit-transition:all 0.5s ease;
	}

	nav a:hover {
  		color: #FFF;
  		border-bottom: 2px solid #FFF;
	}

}